<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <%- include('partials/head')%>
</head>
<body>
  <%- include('partials/navbar')%>
 
  <div class="container">

  <h1>The home page 
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro id quo magni laboriosam vel molestias saepe ipsum similique necessitatibus excepturi repudiandae velit sint rerum, optio cumque doloribus nostrum, ullam maxime. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit animi sequi delectus mollitia aut quisquam? Totam, doloremque debitis. Perspiciatis deserunt laboriosam temporibus, voluptates enim nulla maiores expedita perferendis! Voluptates, sed.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi veritatis dolorum corporis enim impedit ex, adipisci eligendi. Illo, ex architecto. Animi porro officiis vero consectetur ipsum iure quia nostrum.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, corporis eum, fugiat quis aliquam exercitationem necessitatibus obcaecati nisi tenetur eos, voluptates debitis veniam veritatis iusto alias voluptatem voluptatum provident beatae?</p>
  </div>
</body>
</html>