<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New comments</title>
</head>
<body>
  <h1>Make new comment</h1>
  <form action="/comments" method="post">
    <section>
      
      <label for="name">Enter your Username: </label>
      <input type="text" id="name" placeholder="Username" name="username">
    </section>
    <section>

      
      <label for="cmt">Enter your comments:</label>
      <br/>
      <textarea id="cmt" name="comment" cols="30" rows="10"></textarea>
      
    </section>
    <button> Submit</button>
    </form>
</body>
</html>