<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Random number is <%=num%>
  </h1>
 <p>We get random number as we reload</p>
 <%if (num%2==0){%>
  <p>the number we got is Even!</p>
 <%}else{ %>
  <p>the number we got is Odd!</p>
 <%}%>
  
 
</body>
</html>